@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --fc-border-color: #e5e7eb;
    --fc-button-text-color: #ffffff;
    --fc-button-bg-color: #111827;
    --fc-button-border-color: #111827;
    --fc-button-hover-bg-color: #374151;
    --fc-button-hover-border-color: #374151;
    --fc-button-active-bg-color: #000000;
    --fc-today-bg-color: #f3f4f6;
}

.fc {
    height: 100%;
    font-size: 0.875rem; 
}

.cita-estandar {
    background-color: #0f172a !important;
    border-color: #0f172a !important;
    color: white !important;
}